@use "./variables.scss" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// html,
// body,
// #root {
//   height: 100%;
// }

// #root {
//   min-height: 100vh;
//   display: flex;
//   flex-direction: column;
// }

// main {
//   flex: 1;
// }

html {
  scroll-behavior: smooth;
}

body,
button,
textarea,
input {
  font-family: "Quicksand", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: $color-background;
  color: $color-text-primary;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

section:target h2,
.section-active h2 {
  color: $color-text-primary;
  position: relative;
}

section:target h2::after,
.section-active h2::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 80px;
  height: 3px;
  background: $color-primary;
  border-radius: 2px;
}
