@use "../../styles/variables" as *;

.contact {
  position: relative;
  padding: 6rem 7.5rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    font-size: 2.5rem;
    margin-bottom: 4rem;
    align-self: flex-start;
  }

  form {
    position: relative;
    z-index: 2;
    width: 100%;
    max-width: 650px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  input,
  textarea {
    padding: 0.9rem 1.1rem;
    background: $color-surface;
    backdrop-filter: blur(6px);
    border: 1px solid transparent;
    border-radius: 0.5rem;
    color: $color-text-primary;
    font-size: 0.9rem;

    transition:
      border 0.2s ease,
      box-shadow 0.2s ease;

    &:focus {
      outline: none;
      border: 1px solid $color-primary;
      box-shadow: 0 0 0 2px rgba($color-primary, 0.25);
    }
  }

  textarea {
    resize: none;
  }

  button {
    margin-top: 1rem;
    padding: 0.8rem;
    border: none;
    border-radius: 0.5rem;
    background: $color-primary;
    color: white;
    font-weight: 500;
    cursor: pointer;
    transition: opacity 0.2s ease;

    &:hover {
      opacity: 0.85;
    }
  }

  &::after {
    content: "";

    position: absolute;
    top: 60px;
    right: -90px;
    width: 260px;
    height: 260px;
    background: $color-primary;
    border-radius: 60% 40% 50% 50% / 50% 50% 40% 60%;
    opacity: 0.18;

    z-index: 0;
  }
}
